<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/stylesheet/style.css">
  <title>Document</title>
</head>
<body>
  <div class="main w-full min-h-screen bg-zinc-900 ">
    
    <a href="/" class="text-blue-500 inline-block mt-3 p-5">Go to home</a>
   <h1 class="text-white text-3xl tracking-tighter p-6 font-bold"><%=filename %></h1>
   <p class="text-white p-5 font-light"><%=filedata %></p>
  </div>
</body>
</html>